* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --primary: #172b4d;
  --secondary: #36b37f;
  --neutral: #fff;
  --neutral-icons: #36b37f;
}

body {
  font-family: 'Inter', sans-serif;
  width: 100%;
  background-color: var(--neutral);
  padding: 10px;
  margin-left: 10px;

  /* background: url(Overlay.png) 50% 0% no-repeat; */
}

/* toolbar */
.header-container {
  display: flex;
  flex-direction: column;
  width: 405px;
  flex-wrap: wrap;
}

.notification-bar {
  display: flex;
  width: 100%;
  padding: 2px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.toolbar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.logo {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}

.toolbar a {
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  color: var(--primary);
}

.btn {
  border: none;
  width: 25px;
  height: 20px;
  text-decoration: none;
  display: inline-block;
}

/* main section - headline */
.headline {
  display: flex;
  width: 405px;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.line-headline {
  color: var(--primary);
  text-align: center;
  width: 320px;
  height: 192px;
  padding: 5px 5px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  position: static;
  left: 24px;
  top: 64px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 50px 0;

  /* background: url(../images/svgs/Frame1.png);
       background-repeat: no-repeat;
       background-position: right top;
       opacity: 0.7;
*/
}

.sub-line {
  color: var(--secondary);
}

.suport-text {
  color: var(--primary);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  width: 327px;
  height: 164px;
  padding: 5px;
  text-align: center;
  position: static;
  left: 50px;
  top: 314px;
  flex: none;
  flex-grow: 0;
  order: 0;
  margin: 58px 0;
  align-self: center;
  justify-content: center;
}

/* social links */
.linker {
  color: var(--neutral-icons);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  top: 436px;
  flex: none;
  order: 0;
  flex-grow: 0;
  align-self: center;
}

.social {
  align-self: center;
  position: static;
  width: 170.17px;
  height: 102px;
}

.social > ul {
  display: flex;
  align-content: center;
}

ul > li {
  padding: 10px;
}

.more-btn {
  background-color: white;
  border: none;
  padding: 5px 5px;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  align-self: center;
}
