* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --primary: #172b4d;
  --secondary: #36b37f;
  --neutral: #fff;
  --neutral-icons: #36b37f;
  --backcolor-card: #ebf0ee;
}

/* Mobile-Version */
body {
  font-family: 'Inter', sans-serif;
  width: 375px;
  height: 6715px;
  background-color: var(--neutral);
  margin: 20px;
}

/* toolbar */
.header-container {
  display: flex;
  flex-direction: column;
  width: 375px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.notification-bar {
  display: flex;
  margin: 5px;
  flex: none;
  justify-content: space-between;
}

.toolbar {
  display: flex;
  margin: 5px;
  flex: none;
  justify-content: space-between;
}

.logo {
  font-style: normal;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: var(--primary);
}

.toolbar a {
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  color: var(--primary);
}

.btn {
  border: none;
  width: 24px;
  height: 20px;
  padding: 4px;
  margin-right: 15px;
  text-decoration: none;
  display: inline-block;
  align-self: center;
}

/* main section - headline */
.headline {
  display: flex;
  width: 375px;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.headline-bg-img {
  background-image: url("../images/header-illsutration-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.line-headline {
  color: var(--primary);
  word-wrap: break-word;
  margin: 50px 0;
  text-align: center;
  width: 327px;
  height: 192px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  position: static;
  left: 24px;
  top: 64px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sub-line {
  color: var(--secondary);
  text-align: center;
}

.suport-text {
  color: var(--primary);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  width: 327px;
  height: 164px;
  margin: 58px 0;
  text-align: center;
  position: static;
  left: 50px;
  top: 314px;
  flex: none;
  flex-grow: 0;
  order: 0;
}

/* social links */
.linker {
  color: var(--neutral-icons);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 0;
  flex: none;
  flex-grow: 0;
  align-self: center;
}

.btn-action-card {
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: var(--neutral-icons);
  color: var(--neutral);
  width: 122px;
  height: 42px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  border-radius: 4px;
  margin: 25% auto;
}

.btn-action-card:hover {
  transform: scale(1.2);
  transition: ease-in-out 1s;
  font-size: 20px;
  width: 50%;
  background-color: white;
  color: black;
}

.social {
  align-self: center;
  position: static;
  width: 170.17px;
  height: 52px;
}

.social > ul {
  display: flex;
  text-align: center;
  justify-content: center;
  position: static;
  width: 170.17px;
  height: 20px;
  left: 102.42px;
  top: 536px;
}

ul > li {
  padding: 5px;
}

.more-btn {
  background-color: white;
  border: none;
  padding: 5px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  align-self: center;
  flex: none;
}

/* work section */
.work {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: var(--primary);
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.indicator {
  display: flex;
  justify-content: center;
}

.indicator > img {
  display: inline-block;
  width: 48px;
  height: 4px;
  margin: 24px 0;
}

.work-card-container {
  display: grid;
  width: 327px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  grid-row-gap: 20px;
  margin: 25% auto;
}

.work-flex-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.work-card-profile {
  width: 327px;
  height: 252px;
  background-color: var(--backcolor-card);
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.work-card-work {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.work-card-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 16px 0;
  text-align: center;
  color: var(--primary);
}

.work-card-skills {
  display: flex;
  gap: 5px;
  width: 327px;
}

.work-card-skills > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 5px;
  margin: 5px;
  color: var(--primary);
  background: var(--backcolor-card);
  border-radius: 4px;
}

.enable-btn,
.btn-form {
  width: 129px;
  height: 48px;
  border-radius: 4px;
  background: var(--neutral-icons);
  color: var(--neutral);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 8px;
  cursor: pointer;
}

.enable-btn:hover,
.linker:hover {
  background-color: #172b4d;
}

.categories {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  flex-direction: column;
  gap: 20px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 352px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  background-color: var(--backcolor-card);
}

.text:hover {
  transform: scale(1.2);
  transition: ease-in-out 1s;
  color: green;
}

.categories > .text {
  color: var(--primary);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 24px 0;
  text-align: center;
  padding: 10px;
}

.skills-tags li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0;
  color: #36b37e;
  background-color: var(--neutral);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.so-footer ul li {
  padding: 0 12px;
}

.skills-tags li:hover {
  transform: scale(1.2);
  transition: ease-in-out 1s;
  background-color: green;
  color: white;
}

.skills-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 25px;
}

.about-bg-img {
  background-image: url("../images/illustration-aboutmemobile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url(../images/Frame-form.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.form-surpot-text {
  width: 327px;
  height: 363px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 24px 0;
  color: var(--primary);
}

input,
textarea {
  transition: transform 0.8s;
  width: 327px;
  height: 48px;
  margin: 24px 0;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: var(--primary);
  padding: 5px;
  border: 1px solid #60c095;
  background: var(--neutral);
  box-sizing: border-box;
  border-radius: 4px;
}

textarea {
  padding: 5px;
  margin: 24px 0;
  width: 327px;
  height: 114px;
  text-align: left;
}

input:hover,
textarea:hover {
  transform: scale(1);
  border: 1px solid lightskyblue;
}

input:focus,
textarea:focus {
  transform: scale(1);
  border: 1px solid lightskyblue;
}

.btn-form {
  margin: auto 25%;
  padding: 10px;
}

.btn-form:hover {
  transform: scale(1.2);
  transition: ease-in-out 1s;
}

.contact-email {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  height: 189px;
  margin-bottom: 20px;
}

.footer {
  margin-top: 25px;
}

.so-footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  flex: 1;
  justify-content: space-between;
  align-self: flex-start;
  padding: 15px;
  position: relative;
  left: 50px;
}

@media screen and (max-width: 992px) {
  .nav-links {
    display: none;
  }

  .headline > .suport-text br {
    display: none;
  }

  .headline .linker {
    display: none;
  }
}

/* Mobile-Version ends */

/* Desktop-Version */

/* style header and remove toobars to replace with nav-links */
@media screen and (min-width: 992px) and (max-width: 1600px) {
  body {
    width: 100%;
    height: 1500px;
  }

  .header-container {
    width: 1000.8px;
    height: 50px;
  }

  .header-container > .notification-bar,
  .logo {
    display: none;
  }

  .togle-hum > img {
    display: none;
  }

  .nav-link {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
  }

  .nav-links {
    display: flex;
    padding: 2px;
    position: absolute;
    top: 5px;
    margin: 0 auto;
    left: 45%;
  }

  .nav-links > li {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  .headline {
    width: 1472.8px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

  .headline-bg-img {
    background-image: url("../images/Header-llustration-desktop.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  .line-headline {
    margin: 24px 0;
    width: 447px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.37px;
    flex: none;
  }

  .main-headline {
    width: 920px;
    height: 114px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    top: 0;
  }

  .suport-text {
    width: 920px;
    height: 114px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    flex: none;
    margin: 24px 0;
    position: relative;
    top: 140px;
  }

  .social ul {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-top: 60px;
    position: relative;
    top: 50px;
    left: 35px;
  }

  /* work section */
  .work-container {
    width: 1171px;
    height: 1244px;
    display: flex;
    flex-direction: column;
  }

  .indicator {
    display: none;
  }

  .work > br,
  .work-container > .indicator {
    display: none;
  }

  .work {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: var(--primary);
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    align-content: center;
    margin: auto;
    position: relative;
    left: 135px;
  }

  .work-card-container {
    width: 1171px;
    height: 988px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(327.33px, auto));
    gap: 15px 15px;
    justify-items: center;
    margin: 0 auto;
    position: relative;
    left: 135px;
  }

  .work-flex-card {
    width: 369px;
    height: 489px;
  }

  .btn-action-card {
    margin: 0 auto;
    position: relative;
    bottom: 80px;
  }

  .work-card-profile {
    width: 369px;
    height: 252px;
  }

  .work-card-work {
    width: 369px;
    height: 252px;
  }

  .work-card-title {
    width: 337px;
    height: 57px;
  }

  .about-headline {
    margin: 24px 0;
    position: relative;
    left: 400px;
  }

  .headline > .suport-text {
    width: 920px;
    height: 96px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    align-self: center;
    flex: none;
    margin: 24px 0;
    position: relative;
    justify-content: center;
  }

  .about-line {
    top: 600px;
  }

  .linker {
    width: 159px;
    height: 48px;
    align-self: center;
    flex: none;
    margin: 24px 0;
    position: relative;
    left: 35px;
    top: 100px;
  }

  .categories {
    flex-direction: row;
    width: 1171px;
    height: 360px;
    margin: 0 auto;
    position: relative;
    left: 10px;
    top: 100px;
  }

  .skill-item {
    width: 369px;
    height: 352px;
  }

  .form-container {
    width: 1171px;
    height: 490px;
    padding: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    right: 50px;
    flex: none;
    margin-bottom: 20px;
    background-image: url("../images/illustration-1-contact-form-desktop.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
  }

  .form-surpot-text {
    width: 463px;
    height: 256px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 684px;
    padding: 0;
  }

  form textarea {
    width: 684px;
    height: 114px;
  }

  form input {
    width: 684px;
    height: 48px;
  }

  .btn-form {
    align-self: flex-start;
    position: relative;
    right: 180px;
  }

  .footer > .contact-email,
  .more-btn {
    display: none;
  }

  .footer {
    width: 1440px;
    height: 72px;
    align-items: center;
    margin: 10px 2px;
    border-top: 1px solid blue;
  }

  .footer .social {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
  }
}
